

.content{
    max-width:500px;
    margin:auto;
    background-color:grey;
    height:90vh;
    overflow-x:hidden;
    overflow-y:scroll;
}

button{
    width:200px;
    margin:auto;
    padding:10px;
}
